.portfolio-container {
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-direction: column;
	/*! margin: 6vh 0 0vh 0; */
}

.project-container {
	display: flex;
	align-items: center;
	overflow: auto;
	scrollbar-width: none;
	padding: 0px 1.5vw;
	width: 100%;
}

.project-container > *{
	width: 50%;
}

.project-container .title {
	margin: 0 0 22px 0;
}

.project-container h2 {
    position: relative;
    font-weight: normal;
    font-size: 62px;
}

.project-container p {
	position: relative;
	font-size: 20px;
	/* max-height: 32vh; */
}

.project-container p + p{
	margin-top: 3vh;
}

.images-wrapper {
	max-height: 80vh;
	overflow: auto;
	display: flex;
	flex-direction: column;
	scrollbar-width: inherit;
}

.images-wrapper > * {
	max-width: 96%;
}

.images-wrapper > img {
	border-radius: 10px;
}

.footer {
	width: 100%;
	display: flex;
	justify-content: flex-end;
	margin: 4% 0 0 0;
}

.view-btn {
	width: 196px;
	height: 40px;
	border-radius: 13px;
	background: var(--theme1);
	color: white;
	font-size: 26px;
}

.view-btn a {
	align-items: center;
}

@media screen and (max-width: 850px){
	.project-container {
		flex-direction: column;
  }
	.project-container > * {
		width: 80%;
	}
	.images-wrapper {
		margin: 2vh auto;
	}
}