.lettering {
  color: #fff;
  font-family: monospace;
  text-align: center;
  position: relative;
}

.lettering h1 {
  font-size: 32px;
  line-height: 40px;
  margin-bottom: 24px;
}

.lettering p {
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 8px;
}

.lettering img{
  border-radius: 5px;
}

/* smaller */
@media (max-width: 337px){
}
/* md or less */
@media (max-width: 768px){
  .lettering img{
    margin-top: 20vh;
  }
}
/* big or less */
@media (max-width: 992px){
}