.home-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 3vh auto 0 auto;
}

.home-container > *{
    width: 50%;
}

.hello {
	position: relative;
	width: 50%;
	top: 15%;
	font-style: normal;
	font-weight: normal;
	font-size: 56px;
	margin-left: 2%;
}

@media screen and (max-width: 950px) {
  .hello {
    	font-size: 48px;
    	margin: 0 0 5vh 0;
  }
}
.description-me {
    position: relative;

    font-weight: normal;
    font-size: 26px;
    line-height: 43px;

    margin: 0 3% 0 0;
}

@media screen and (max-width: 850px) {
	.hello {
		top: 0;
		width: 80%;
	}

	.home-container {
		margin-bottom: 3vh;
	}
	.home-container > *{
		width: 80%;
	}

	p, p.description-me{

		font-size: 20px !important;
		line-height: 2rem;
	}

}