.aboutme-container{
	display: flex;
}

.about-me {
    position: relative;
	width: 40%;
	font-style: normal;
	font-weight: normal;
	font-size: 47px;
    margin-left: 2%;
    /*! height: 80vh; */
    display: flex;
    flex-direction: column;
    min-height: 90vh;
    justify-content: space-between;
}

.about-me-description p {
  margin-bottom: 5rem;
}



.about-me-description {
    position: relative;
    /*! left: 50%; */
    width: 45%;
    font-size: 20px;
    top: 8vh;
    margin-left: 4%;
}

ul.my-skills{

}

ul.my-skills li {
  margin-bottom: 3.3rem;
}

.get-in-touch {
	font-size: 18px;
	background-color: white;
	color: black;
	display: flex;
	align-items: flex-start;
	padding: 10px 20px;
	border-radius: 10px;
	flex-wrap: wrap;
	flex-direction: column;
	border: solid 3px;
	word-wrap: anywhere;
}

.get-in-touch > * {
	margin-bottom: 2rem;
}

@media screen and (max-width: 850px) {
    .about-me {
        width: 96%;
        min-height: unset;
     	font-size: 25px;

    }
    .about-me-description {

        width: 80%;
        margin: 0 auto 50px auto;
    }

    .get-in-touch {
        margin: 10px 0;
    }
}